<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <h4>Why choos Health Care with <br>
                 <span>Private Clinic</span>   
                </h4>
                <p> When it comes to your health, having quick access to personalised, high-quality care is vital. It is therefore important to be aware of all the options available to you. 
                    One of these being private healthcare services.

                    No matter your healthcare journey, there may come a time when private healthcare may be the best option for you.
                     Here’s why:
                    
                    Shorter wait times
                    Circumstances often mean you can’t afford to wait for the treatment you need. At OSD Healthcare, we can typically offer you an initial consultation within 48 hours of getting in touch. This means you can begin your treatment plan as soon as possible, getting you back to full health as soon as possible.
                    
                    </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="assets/images/recep.avif" alt="">
            </div>
        </div>
    </div>
</section>
