<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i> polycliniquesecours@gmail.com</li>
                        <li><i class="fas fa-phone-square"></i> +216 71352109</li>
                    </ul>
                </div>
                <div class="col-lg-5 d-none d-lg-block right-item">
                    <ul>
                        <li><a href="https://www.google.com/search?q=github&oq=github&aqs=chrome.0.0i271j46i39i199i465i650j0i131i433i512j69i60l5.8349j0j4&sourceid=chrome&ie=UTF-8"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.google.com/search?q=gogle+plus&sxsrf=APwXEdfmHHdUwDeC_aBOel5BBJRuVMKiRA%3A1683123863775&ei=l25SZO_bLqbY7_UPrLykqAQ&ved=0ahUKEwivg42Ardn-AhUm7LsIHSweCUUQ4dUDCA8&uact=5&oq=gogle+plus&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIKCAAQgAQQChDLATIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjoKCAAQRxDWBBCwAzoKCAAQigUQsAMQQzoVCC4QigUQxwEQ0QMQyAMQsAMQQxgBOg8ILhCKBRDIAxCwAxBDGAE6BwgjEIoFECc6CQgjEIoFEBMQJzoTCC4QigUQsQMQgwEQxwEQ0QMQQzoNCAAQigUQsQMQgwEQQzoLCAAQgAQQsQMQgwE6BQgAEIAEOgcIABCKBRBDOiEILhCKBRCxAxCDARDHARDRAxBDEJcFENwEEN4EEOAEGAI6BwgjELECECc6CwguEIAEEMcBENEDOg0IABCABBCxAxCDARAKOgoIABCABBCxAxAKSgQIQRgAUI8IWM4rYJwvaAJwAXgAgAHBAYgBugySAQQwLjEwmAEAoAEByAESwAEB2gEGCAEQARgI2gEGCAIQARgU&sclient=gws-wiz-serp"><i class="fab fa-google-plus-g"></i></a></li>
                        <li> <a href="https://www.google.com/search?q=pinterest&sxsrf=APwXEdcKg3WF9uBI1R4fGUH3ZSdBF4GA4A%3A1683123888802&ei=sG5SZMazMOyI9u8P5rKVqAs&ved=0ahUKEwjGy4SMrdn-AhVshP0HHWZZBbUQ4dUDCA8&uact=5&oq=pinterest&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCAAQigUQsQMQgwEQQzILCAAQgAQQsQMQgwEyCAgAEIAEEMsBMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyBQgAEIAEMggIABCABBDLATIFCAAQgAQyBQgAEIAEMgsIABCABBCxAxCDAToKCAAQRxDWBBCwAzoKCAAQigUQsAMQQzoHCCMQ6gIQJzoNCAAQjwEQ6gIQtAIYAToNCC4QjwEQ6gIQtAIYAUoECEEYAFDGFFj_G2CRI2gGcAF4AIABsAGIAbABkgEDMC4xmAEAoAEBoAECsAERyAEJwAEB2gEGCAEQARgK&sclient=gws-wiz-serp"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="https://www.google.com/search?q=twiter&sxsrf=APwXEdc9GcNCY13NUIqH_lmQIaJA3BD9YQ%3A1683123839557&ei=f25SZN_RIaiQ9u8P57ergA8&ved=0ahUKEwifjcf0rNn-AhUoiP0HHefbCvAQ4dUDCA8&uact=5&oq=twiter&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzITCC4QgwEQxwEQsQMQ0QMQigUQQzINCAAQigUQsQMQgwEQQzINCAAQigUQsQMQgwEQQzINCAAQgAQQsQMQgwEQCjINCC4QgAQQsQMQgwEQCjIKCAAQgAQQChDLATIKCAAQgAQQChDLATIHCAAQgAQQCjINCAAQgAQQsQMQgwEQCjIHCAAQgAQQCjIhCC4QgwEQxwEQsQMQ0QMQigUQQxCXBRDcBBDeBBDgBBgBOgoIABBHENYEELADOhAILhCKBRDHARDRAxCwAxBDOgoIABCKBRCwAxBDOgQIIxAnOgcIIxCKBRAnOhMILhCKBRCxAxCDARDHARDRAxBDOgsIABCABBCxAxCDAToHCAAQigUQQzoLCC4QgAQQsQMQ1AI6EQguEIAEELEDEIMBEMcBENEDOgUILhCABDoFCAAQgAQ6CwguEIAEELEDEIMBSgQIQRgAULQIWJcXYNwZaAJwAXgAgAH-AogBlAuSAQcwLjMuMi4xmAEAoAEByAEKwAEB2gEGCAEQARgU&sclient=gws-wiz-serp"><i class="fab fa-twitter"></i></a></li>
                        <li> <a href="https://www.google.com/search?q=facebook&oq=facebook&aqs=chrome.0.0i271j46i131i199i433i465i512j0i131i433i512j69i60l4j5.4883j0j7&sourceid=chrome&ie=UTF-8"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                    <img src="assets/images/pcs.jpg" alt="" style="height: 50px; width: 50px;">
                   <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li>  <input type="image"  name="Name of image button" src="assets/images/blog/homme.jpg" height="50px" width="50px" alt="text" routerLink="" ></li>
                        

                        <!-- <li><a routerLink="">Home</a></li> -->
                        
                        <li class="nav-item dropdown" *ngIf="!id">
                            <a class="nav-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Signup <i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" routerLink="signupAdmin">Signup Admin</a>
                                <a class="dropdown-item" routerLink="signupPatients">Signup Patients</a>
                                <a class="dropdown-item" routerLink="signupMedecins">Signup medecins</a>
                            </div>
                        </li>
                        <li>  <input type="image"  name="Name of image button" src="assets/images/blog/login.jpg" height="50px" width="50px" alt="text" routerLink="login" *ngIf="!id"></li>

                        <!-- <li><a routerLink="login" *ngIf="!id" >Login</a></li> -->
                        <!-- <li><a routerLink="">Home</a></li> -->
                        <li class="nav-item dropdown" *ngIf="connectedUsers.role=='admin'" >
                            <a class="nav-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{connectedUsers.firstName}} {{connectedUsers.lastName}} <i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" routerLink="signupAdmin">Signup Admin</a>
                                <a class="dropdown-item" routerLink="admin">Admin</a>
                                <a class="dropdown-item" routerLink="login">Login</a>
                            </div>
                        </li>
                        <!-- <li><a routerLink="">Home</a></li> -->
                        <li class="nav-item dropdown" *ngIf="connectedUsers.role=='patients'" >
                            <a class="nav-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{connectedUsers.firstName}} {{connectedUsers.lastName}} <i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" routerLink="signupPatients">Signup Patients</a>
                                <a class="dropdown-item" routerLink="informationPrincipale">Information Principale</a>
                                <a class="dropdown-item" routerLink="verification">Verification</a>
                                <a class="dropdown-item" routerLink="rendezVous">RendezVous</a>
                                <a class="dropdown-item" routerLink="validerRendez-vous">Valider RendezVous</a>
                                <a class="dropdown-item" routerLink="addPublication">Add Publication</a>
                                <a class="dropdown-item" routerLink="espacePatients">Espace Patients</a>
                                <a class="dropdown-item" routerLink="envoieNotification">Notification Resultats</a>
                                <a class="dropdown-item" routerLink="login">Login</a>
                            </div>
                        </li>
                        <!-- <li><a routerLink="">Home</a></li> -->
                        <li class="nav-item dropdown" *ngIf="connectedUsers.role=='medecins'" >
                            <a class="nav-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{connectedUsers.firstName}} {{connectedUsers.lastName}} <i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" routerLink="signupMedecins">Signup Medecins</a>
                                <a class="dropdown-item" routerLink="consulterPublication">Consulter Publications</a> 
                                <a class="dropdown-item" routerLink="envoiResultats">Envoie Des Reponses</a> 
                                <a class="dropdown-item" routerLink="voirResultats">Voir Resultats</a> 
                                <a class="dropdown-item" routerLink="login">Login</a>
                            </div>
                        </li>

                        
                       <li>  <input type="image"  name="Name of image button" src="assets/images/blog/searche.jpg" height="50px" width="50px" alt="text" routerLink="search" ></li>
                       <li>  <input type="image"  name="Name of image button" src="assets/images/blog/contacter.webp" height="50px" width="50px" alt="text" routerLink="contacter" ></li>
                       <li>  <input type="image" (click)="logOut()"  name="Name of image button" src="assets/images/blog/logout.webp" height="50px" width="50px" alt="text" routerLink="contacter" ></li>

                        <!-- <li><a style="cursor: pointer;" (click)="logOut()" >Logout</a></li>  -->



                        <!-- <li><a href="contact_us.html">Contact Us</a></li> -->
                    </ul>
                </div>
                <div class="col-sm-2 d-none d-lg-block appoint" *ngIf="!id">
                    <button  (click)="connexion()" class="btn btn-info">Connexion</button>
                </div>
            </div>

        </div>
    </div>

</header>
