<section class="key-features"> 
    <h1 style="text-align: center; text-decoration: underline;">The Main Structures Of Clinics</h1>
    <div class="row no-margin">
        <div class="col-lg-3 kvxol col-md-6" *ngFor="let structure of structures">
           <app-structure [Inputstructure]="structure"></app-structure>
        </div>

        <!-- <div class="col-lg-3 kvxol  col-md-6">
            <div class="single-key ky-2">
                 <i class="fas fa-user-md"></i> -->
                <!-- <img src="assets/images/sousdirecteur.jpg" alt="" srcset="">
                <h5>Mohamed Hammami</h5>
                <p>Sous Directeur</p>
            </div>
        </div> --> 

        <!-- <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <img src="assets/images/rh.jpg" alt="" srcset="">
                <h5>Nabila Guesmi</h5>
                <p>Ressources Humaines</p>
            </div>
        </div> -->

        <!-- <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <img src="assets/images/finance.jpg" alt="" srcset="">
                <h5>Amel Chebbi</h5>
                <p>Finnance & Compatabilite</p>
            </div>
        </div> -->


       
    </div>
</section>
