 <!-- ################# Slider Starts Here#######################--->
 
 <app-slider></app-slider>
 
 <!-- ################# Key Features Starts Here#######################--->

 <app-key-features></app-key-features>

 <!-- ################# With Medical Starts Here#######################--->

<app-with-medical></app-with-medical>
 

 <!-- ################# Our Departments Starts Here#######################--->


<app-key-department></app-key-department>

<!-- ################# our actionneurs Starts Here#######################--->
<app-actionneurs></app-actionneurs>

 <!-- ################# Our Blog Starts Here#######################--->


 <app-blog></app-blog>

 <!-- ################# Footer Starts Here#######################--->