<app-banner title="INFORMATION PRINCIPALE" ></app-banner>
<section class="key-features"> 
    <h1 style="text-align: center; text-decoration: underline;">Welcome To The Typical Doctors Page</h1>
    <div class="row no-margin">
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i> 
               <img src="assets/images/urgp.jpg" alt="" srcset="">
               <h5>Services D'urgences</h5>
               <button  (click)="consulterOne()" type="button" class="btn btn-success">Consulter</button>
               <button  (click)="voirOne()"  type="button" class="btn btn-warning">Voir</button>

                
           </div>
        </div>

         <div class="col-lg-3 kvxol  col-md-6">
            <div class="single-key ky-2">
                 <i class="fas fa-user-md"></i> 
                 <img src="assets/images/ch2p.jpg" alt="" srcset="">
                <h5>Services Chirugie Generale</h5>
                <button  (click)="consulterTwo()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirTwo()" type="button" class="btn btn-warning">Voir</button>


            </div>
        </div>  

         <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/hh.jpg" alt="" srcset="">
                <h5>Services Gynecologie</h5>
                <button  (click)="consulterThree()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirThree()" type="button" class="btn btn-warning">Voir</button>
                
            </div>
        </div> 

         <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/orthp.jpg" alt="" srcset="">
                <h5>Services Orthopedique</h5>
                <button  (click)="consulterFor()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirFor()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/urp.png" alt="" srcset="">
                <h5>Services Urologie</h5>
                <button  (click)="consulterFive()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirFive()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/carrp.jpg" alt="" srcset="">
                <h5>Services Cardio</h5>
                <button  (click)="consulterSix()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirSix()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/orlp.jpg" alt="" srcset="">
                <h5>Services ORL</h5>
                <button  (click)="consulterSeven()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirSeven()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/pedp.jpg" alt="" srcset="">
                <h5>Services Pediatrique</h5>
                <button  (click)="consulterHeight()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirHeight()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div>
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/reap.jpg" alt="" srcset="">
                <h5>Services Reanimation</h5>
                <button  (click)="consulterNine()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirNine()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/labo.jpg" alt="" srcset="">
                <h5>Laboratoires Medicales</h5>
                <button  (click)="consulterTen()" type="button" class="btn btn-success">Consulter</button>
                <button  (click)="voirTen()" type="button" class="btn btn-warning">Voir</button>
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/pubp.png" alt="" srcset="">
                <h5>Publications</h5>
                <button  (click)="consulterPublication()" type="button" class="btn btn-success">Consulter</button>
                <button (click)="voirPublication()"  type="button" class="btn btn-warning">Voir</button>
        
            </div>
        </div> 
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <img src="assets/images/autres.png" alt="" srcset="">
                <h5>Autres</h5>
                <button  (click)="consulterAutres()" type="button" class="btn btn-success">Consulter</button>
                <button (click)="voirAutres()"  type="button" class="btn btn-warning">Voir</button>
        
            </div>
        </div> 


       
    </div>

</section>
